<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.MyPick_server.DAO.community.BoardDAO">

    <select id="listMainGet" resultType="BoardMainListDTO" >
        SELECT IDX, Title, Editor_Date
        FROM Board
        WHERE DEL = 0
        ORDER BY Editor_Date DESC
            LIMIT 5;
    </select>

    <select id="listGet" resultType="BoardListDTO" >
        SELECT IDX, Title, Category, Editor, Editor_Date
        FROM Board
        WHERE DEL = 0
        ORDER BY Editor_Date DESC
    </select>

    <select id="userName" resultType="java.util.Map">
        SELECT User_IDX, Name
        FROM User
        WHERE Del = 0;
    </select>

</mapper>