<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.MyPick_server.DAO.JWT.JWTDAO">

    <select id="JWT_data" resultType="JWTReq" parameterType="int">
        SELECT ID, PW, Name, Birth, Date_Of_Creation
        FROM User
        WHERE User_IDX =  #{IDX}
    </select>

</mapper>