<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.MyPick_server.DAO.loginRegister.LoginDAO">

    <select id="autoLoginCheck" resultType="java.util.Map" parameterType="String">
        SELECT User_IDX, Login_Token_Date, Account_Suspension
        FROM User
        WHERE Login_Token = #{token} AND Del = 0;
    </select>

    <select id="loginCheck" resultType="java.util.Map" parameterType="loginReq">
        SELECT User_IDX, PW, Account_Suspension
        FROM User
        WHERE ID = #{id} AND Del = 0;
    </select>
    
    <update id="loginUpdate" parameterType="LoginUpdateRes">
        UPDATE User
        SET
            Login_Token = #{token},
            Login_Token_Date = SYSDATE(),
            JWT_Token = #{JWTKey},
            JWT_Token_Date = SYSDATE()
        WHERE User_IDX = #{IDX} AND Del = 0
    </update>

    <select id="GeneralCheck" resultType="String" parameterType="int">
        SELECT General
        FROM User
        WHERE Del = 0 AND User_IDX = #{IDX};
    </select>

</mapper>