<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.MyPick_server.DAO.loginRegister.RegisterDAO">

    <select id="idCheck" resultType="int" parameterType="String">
        SELECT COUNT(ID)
        FROM User
        WHERE ID = #{param};
    </select>

    <insert id="register" parameterType="RegisterReq">
        INSERT INTO User(ID, PW, Name, NickName, Birth, Category, Del)
        VALUES (#{id}, #{pw}, #{name}, #{nickName}, #{birth}, '음악', 0)
    </insert>

</mapper>