<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.MyPick_server.DAO.admin.AdminDAO">

    <select id="adminCheck" resultType="int" parameterType="int">
        SELECT General
        FROM User
        WHERE DEL = 0 AND User_IDX = #{IDX};
    </select>

    <select id="UserListGet" resultType="UserListRes">
        SELECT Name, NickName, ID, General, Account_Suspension, JWT_Token_Date
        FROM User
        WHERE DEL = 0;
    </select>

    <select id="UserIDXGet" resultType="int" parameterType="UserIDXGet">
        SELECT User_IDX
        FROM User
        WHERE Del = 0 AND ID = #{id} AND Name = #{name};
    </select>

    <select id="userRoomList" resultType="UserRoomList" parameterType="int">
        SELECT Chat_IDX, Category, Summary, Last_Date
        FROM Chat_List
        WHERE Del = 0 AND User_IDX = #{userIDX}
        ORDER BY Last_Date DESC;;
    </select>

    <update id="UserGeneralSet" parameterType="int">
        UPDATE User
        SET Login_Token = null,
            Login_Token_Date = null,
            JWT_Token = null,
            JWT_Token_Date = null,
            General = CASE WHEN General = 1 THEN 0 ELSE 1 END
        WHERE Del = 0 AND User_IDX = #{userIDX};
    </update>

    <update id="UserAccountSuspension" parameterType="UseraccountSuspensionSetReq">
        UPDATE User
        SET Account_Suspension = #{accountSuspension}
        WHERE Del = 0 AND User_IDX = #{IDX};
    </update>

    <update id="UserDelSet" parameterType="int">
        UPDATE User
        SET Login_Token = null, Login_Token_Date = null, JWT_Token = null, JWT_Token_Date = null, Del = 1
        WHERE Del = 0 AND User_IDX = #{userIDX};
    </update>

</mapper>